tbl{
    border-style: solid;
    border-color: red;
    border-width: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
  }
  #Uno{
    border-style: solid;
    border-color: red;
    border-width: 4px;
    border-radius: 7px;
  }
  #Dos{
    border-style: solid;
    border-color: red;
    border-width: 4px;
    border-radius: 7px;
  }
  #Tres{
    border-style: solid;
    border-color: red;
    border-width: 4px;
    border-radius: 7px;
  }

  #Quatro{
    border-style: solid;
    border-color: red;
    border-width: 4px;
    border-radius: 7px;

  }
    #Cinco{
        border-style: solid;
        border-color: red;
        border-width: 4px;
        border-radius: 7px;

  }