tbl{
    border-style: solid;
    border-color: red;
    border-width: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
  }
  #uno{
    border-style: solid;
    border-color: red;
    border-width: 4px;
    border-radius: 7px;
  }
  #dos{
    border-style: solid;
    border-color: red;
    border-width: 4px;
    border-radius: 7px;
  }
  #tres{
    border-style: solid;
    border-color: red;
    border-width: 4px;
    border-radius: 7px;
  }

  #quatro{
    border-style: solid;
    border-color: red;
    border-width: 4px;
    border-radius: 7px;

  }
  #cinco{
        border-style: solid;
        border-color: red;
        border-width: 4px;
        border-radius: 7px;

  }